*.log
*.pid
*.pid.lock
*.seed
*.tgz
.editorconfig
.env
.eslintcache
.eslintignore
.eslintrc
.husky/
.prettierignore
.prettierrc
.vscode/
.yarn-integrity
babel.config.js
codecov.yml
coverage
jest.config.js
jest.modules.json
lib
logs
node_modules/
pids
tsconfig.tsbuildinfo
typedoc.json
yarn-debug.log*
yarn-error.log*
